 <!-- hero section -->
 <section class="hero py-4">
    <div class="my-hero container mx-auto flex justify-between items-center py-4">
        <div class="hero-text w-1/2">
            <h6 class="text-lg italic">Are You Hungry?</h6>
            <h1 class="text-6xl font-bold py-4">Don't Wait..</h1>
            <button class="px-6 py-4 mt-4 text-white font-bold btn rounded-full">Order Now</button>
        </div>
        <div class="hero-image w-1/2">
            <img src="/image/hero-pizza.png" alt="hero-pizza">
        </div>
    </div>
</section>
<!-- hero section -->

<!-- about section -->
<section class="about">
    <div class="about-section">
        <div class="inner-section">
            <h1 class="text-4xl font-bold">You will love our HOT PIZZA!</h1>
            <p class="text-justify py-3 pl-3">Independent shops deserve the tools that big pizza chains thrive on. Our online ordering and automated marketing helps increase your profits by creating more loyal customers and saving you time.</p>
        </div>
    </div>
</section>
<!-- about section -->
<!-- menu section -->
<section class="menu container mx-auto py-8">
    <h2 class="text-3xl font-bold py-6 px-4">All Pizza</h2>
    <hr class="py-4">
    <div class="menu-wrapper grid grid-cols-4 gap-x-14 gap-y-12">
        <div class="pizza1">
            <div>
                <img src="/image/pizza.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Margenita</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">Medium</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza2">
            <div>
                <img src="/image/veg.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Veggie Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">Large</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza3">
            <div>
                <img src="/image/chesse.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Chess Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">small</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza4">
            <div>
                <img src="/image/bbq.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">BBQ Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">small</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza5">
            <div>
                <img src="/image/pepper.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Peppermoni Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">Medium</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza6">
            <div>
                <img src="/image/chicken.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Chicken Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">small</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza7">
            <div>
                <img src="/image/heavy.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Heavy Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">small</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="pizza8">
            <div>
                <img src="/image/sausage.png" alt="pizza" class="h-40 mb-4 mx-auto">
            </div>
            <div class="text text-center">
                <h2 class="text-lg mb-4">Sausage Pizza</h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size">small</span>
                <div class="price flex items-center justify-around my-4">
                    <span class="font-bold text-lg">$250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full ">
                        <span>+</span>
                        <span>Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- menu section -->

<!-- service section -->
<section class="service py-20">
    <h2 class="text-center text-4xl font-bold py-8 text-white">Our services</h2>
    <div class="our-service container mx-auto grid grid-cols-3 gap-x-10">
        <div class="box">
            <h2>01</h2>
            <h3>Best Quality</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eligendi ad iusto deserunt eveniet ab ea vitae neque accusr sit amet, consectetur adipisicing elit. Modi eligendi ad iusto deserunt eveniet ab ea vitae neque accusamus sunt.</p>
        </div>
        <div class="box">
            <h2>02</h2>
            <h3>Quick Delivery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eligendi ad iusto deserunt eveniet ab ea vitae neque accusr sit amet, consectetur adipisicing elit. Modi eligendi ad iusto deserunt eveniet ab ea vitae neque accusamus sunt.</p>
        </div>
        <div class="box">
            <h2>03</h2>
            <h3>Better Satisfaction</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eligendi ad iusto deserunt eveniet ab ea vitae neque accusr sit amet, consectetur adipisicing elit. Modi eligendi ad iusto deserunt eveniet ab ea vitae neque accusamus sunt.</p>
        </div>
    </div>
</section>
<!-- service section -->


<!-- description section -->
<section class="description py-10">
    <div class="des-wrapper container mx-auto flex items-center justify-between">
        <div class="des-img w-1/2">
            <img src="/image/light.jpg" alt="des-img">
        </div>
        <div class="des-text w-1/2 px-4">
            <h1 class="font-bold text-4xl">We are always here to..</h1>
            <p class="py-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi minima libero, blanditiis suscipit recusandae rerum deserunt provident velit aspernatur vel autem perspiciatis dignissimos similique ipsam veniam dolorum facilis delectus voluptatem?</p>
        </div>
    </div>
</section>
<!-- description section -->

<!-- footer section -->

<!-- footer section -->